<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/vars.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  {% block includes %}{% endblock %}
</head>
<body>
  <div class="layout-container">
    <header class="header">
      <div class="logo">
        Tanja Friedrichs Schmuck
      </div>
      <nav class="main-nav">
        <a href="/jewellery/">Schmuck</a>
        <a href="/jewellery/">Galerien</a>
        <a href="/jewellery/">Presse</a>
        <a href="/jewellery/">12 Jahre</a>
        <a class="toggle-lang" href="/jewellery/">en</a>
      </nav>
    </header>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="social-footer">
        <a href="#"><i class="socicon-facebook"></i>Facebook</a>
        <a href="#"><i class="socicon-instagram"></i>Instagram</a>
        <a href="#"><i class="socicon-mail"></i>Mail</a>
      </div>
      <div class="info-footer">
        © Tanja Friedrichs - 2018
      </div>
    </footer>
  </div>
</body>
</html>
