{% extends 'base.jinja' %}

{% block includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block content %}
  <div class="scroller">
    <img src="/static/assets/main.png">

    <div class="overlay-text">
      <div class="overlay-title">LA LOOPE, Reine Zierde 2005–2017</div>
      <div class="overlay-subtitle">KunstRaum Duisburg</div>
    </div>

    <div class="see-more">
      <i class="icon-arrow-down"></i> See more
    </div>
  </div>

  <div class="news">
    <div class="headline">Upcoming</div>

    <div class="headline">Highlights</div>
    <div class="articles">
        <div class="article">
          <div class="img-container">
            <img src="/static/assets/th_cloud_01.jpg">
            <div class="article-title">30 Jahre Galerie Spandow</div>
            <div class="article-date">Sept 2017</div>
          </div>
          <div class="article-text">
            <span>Ausstellung</span>
            <hr class="article-spacer" />
            Einladung für Sie und Ihre Freunde zu Vernissage und 30 Jahre Galerie Spandow – Jubiläumsfest, am Samstag, 02. SEPTEMBER 2017, AB 15 UHR
          </div>
        </div>

        <div class="article">
          <div class="img-container">
            <img src="/static/assets/th_cloud_01.jpg">
            <div class="article-title">Goldschmiede Dirk Jansen</div>
            <div class="article-date">Mai 2017</div>
          </div>
          <div class="article-text">
            <span>Ausstellung</span>
            <hr class="article-spacer" />
            Einladung zur Einzelausstellung vom 24. Mai bis 24. Juni in der Goldschmiede Dirk Jansen in Recklinghausen.
          </div>
        </div>

        <div class="article">
          <div class="img-container">
            <img src="/static/assets/th_cloud_01.jpg">
            <div class="article-title">Perlen Grand Prix 2014</div>
            <div class="article-date">März 2014</div>
          </div>

          <div class="article-text">
            <span>Auszeichnung</span>
            <hr class="article-spacer" />
            Beim »Perlen Grand Prix 2014« des Schmuck Magazins (03/14), Motto: Perlen - lieber lässig! wurde mein Ohrschmuck »Méridien de Perle« aus Palladiumweißgold mit Tahitiperlen auf Platz 3 gewählt. Herzlichen Dank! 
         </div>
        </div>
    </div>
  </div>
{% endblock %}