{% extends 'base.jinja' %}

{% block includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block content %}
  <div class="scroller">
    <img src="/static/assets/main.png">

    <div class="overlay-text">
      <div class="overlay-title">LA LOOPE, Reine Zierde 2005–2017</div>
      <div class="overlay-subtitle">KunstRaum Duisburg</div>
    </div>

    <div class="see-more">
      <i class="icon-arrow-down"></i> See more
    </div>
  </div>

  <div class="news">
    <hr />
    <div class="headline">News</div>
    <div class="articles">
      {% for i in range(10) %}
        <div class="article">
          <div class="img-container">
            <img src="/static/assets/th_cloud_01.jpg">
          </div>
          <div class="article-title">30 Jahre Galerie Spandow</div>
          <div class="article-date">Sept - 2017</div>
          <div class="article-text">
            <hr class="article-spacer" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices sodales condimentum. Proin consectetur ipsum nec lectus aliquam, nec suscipit ex interdum. Sed tristique rhoncus lacinia. Phasellus eu leo et massa fermentum tempus in non tortor. In erat nibh, ornare et ipsum quis, scelerisque ullamcorper est. Cras rhoncus ipsum vel maximus dictum.
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}