@font-face {
  font-family: 'Nimbus Sans';
  src: url('/static/fonts/NimbusSans/NimbusSans.eot');
  src: url('/static/fonts/NimbusSans/NimbusSans.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/NimbusSans/NimbusSans.woff') format('woff'),
       url('/static/fonts/NimbusSans/NimbusSans.ttf') format('truetype'),
       url('/static/fonts/NimbusSans/NimbusSans.svg#nimbus_sans_lregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nimbus Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.layout-container {
  display: grid;
  grid-template-rows: var(--nav-height) auto;
  grid-template-columns: var(--content-padding) auto var(--content-padding);
  grid-template-areas:
    "left header right"
    "left content right"
    "left footer right"
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;

  background: #fff;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50%;
  grid-template-areas:
    "logo nav";

  z-index: 200;
}

.logo {
  font-size: 1.6em;
  align-self: center;
}

.main-nav {
  align-items: center;
  justify-self: end;

  display: grid;
  grid-auto-flow: column;
  grid-gap: 32px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.main-nav a {
  text-decoration: none;
  color: var(--text-color);

  font-size: 1.2em;
}

.toggle-lang {
  border: 1px solid #333;
  padding: 4px;
}

.content {
  display: grid;
  grid-area: content;
}

.footer {
  grid-area: footer;

  margin: 64px 0 20px 0;
  padding: 8px 0;
}

.social-footer {
  font-family: 'Lato';

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: var(--content-padding);

  background: #222;
  padding: 16px;
}

.social-footer > a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  font-size: 0.8em;
}

.social-footer > a > i {
  position: relative;
  top: 2px;
  right: 4px;
  font-size: 1.25em;
}

.info-footer {
  font-family: 'Lato';
  color: #fff;
  margin-top: 1px;
  background: #222;
  font-size: 0.8em;
  padding: 8px;

  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
  }

  .main-nav {
    display: none;
  }
}